build/default/.ninja_deps
build/default/.ninja_log
build/default/build-Debug.ninja
build/default/build-Release.ninja
build/default/build-RelWithDebInfo.ninja
build/default/build.ninja
build/default/cmake_install.cmake
build/default/CMakeCache.txt
build/default/.cmake/api/v1/query/client-vscode/query.json
build/default/.cmake/api/v1/reply/cache-v2-6af62eb28ea31936415d.json
build/default/.cmake/api/v1/reply/codemodel-v2-19766f99e140c382daaa.json
build/default/.cmake/api/v1/reply/directory-.-f5ebdc15457944623624.json
build/default/.cmake/api/v1/reply/directory-src-b6cf2213fc5053b67c22.json
build/default/.cmake/api/v1/reply/directory-src.context-8025e592d1c4baa6a3bf.json
build/default/.cmake/api/v1/reply/directory-src.renderstage-3bd27a8bfb491b55aba0.json
build/default/.cmake/api/v1/reply/index-2021-12-12T16-01-30-0069.json
build/default/.cmake/api/v1/reply/target-bs_context-3dfe09f0575fe7973949.json
build/default/.cmake/api/v1/reply/target-bs_engine-38f9a560dfe712321830.json
build/default/.cmake/api/v1/reply/toolchains-v1-284fca2d224861dffda0.json
build/default/CMakeFiles/cmake.check_cache
build/default/CMakeFiles/CMakeOutput.log
build/default/CMakeFiles/common.ninja
build/default/CMakeFiles/impl-Debug.ninja
build/default/CMakeFiles/impl-Release.ninja
build/default/CMakeFiles/impl-RelWithDebInfo.ninja
build/default/CMakeFiles/rules.ninja
build/default/CMakeFiles/TargetDirectories.txt
build/default/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/default/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/default/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/default/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/default/CMakeFiles/3.22.1/CMakeSystem.cmake
build/default/CMakeFiles/3.22.1/CompilerIdC/a.out
build/default/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/default/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/default/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/default/src/bs_engine
build/default/src/cmake_install.cmake
build/default/src/CMakeFiles/bs_engine.dir/engine.cpp.o
build/default/src/CMakeFiles/bs_engine.dir/Debug/engine.cpp.o
build/default/src/Debug/bs_engine
build/default/src/context/cmake_install.cmake
build/default/src/context/libbs_context.a
build/default/src/context/CMakeFiles/bs_context.dir/Debug/device/device.cpp.o
build/default/src/context/CMakeFiles/bs_context.dir/Debug/instance/instance.cpp.o
build/default/src/context/CMakeFiles/bs_context.dir/Debug/swapchain/swapchain.cpp.o
build/default/src/context/CMakeFiles/bs_context.dir/Debug/window/window.cpp.o
build/default/src/context/CMakeFiles/bs_context.dir/device/device.cpp.o
build/default/src/context/CMakeFiles/bs_context.dir/instance/instance.cpp.o
build/default/src/context/CMakeFiles/bs_context.dir/swapchain/swapchain.cpp.o
build/default/src/context/CMakeFiles/bs_context.dir/window/window.cpp.o
build/default/src/context/Debug/libbs_context.a
build/default/src/renderstage/cmake_install.cmake
